@font-face {
font-family: "Montserrat";
src: url("fonts/Montserrat.otf");
src: 
url("fonts/Montserrat.otf") format("woff"),
url("fonts/Montserrat.otf") format("opentype"),
}
@font-face {
font-family: "Montserrat-B";
src: url("fonts/Montserrat-Bold.otf");
src: 
url("fonts/Montserrat-Bold.otf") format("woff"),
url("fonts/Montserrat-Bold.otf") format("opentype"),
}
@font-face {
font-family: "Montserrat-L";
src: url("fonts/Montserrat-Light.otf");
src: 
url("fonts/Montserrat-Light.otf") format("woff"),
url("fonts/Montserrat-Light.otf") format("opentype"),
}
*{
	margin: 0px;
	padding: 0px;

}
.clear{
	clear: both;
}
body{
	/*min-width: 500px;*/
	width: 100%;
	font-family: Montserrat, Arial, sans-serif;
}
.container{
	/*width: 80%;
	height: 100%;
	position: relative;
	margin: auto;*/
}
.content{
	
}
.top{
	height: 20vw;
	/*background-color: purple;*/
	color: #fbcc4b;
	font-family: Montserrat-B;
	/*background-color: red;*/

}
.toptext:last-child{
	margin-top: 0%;
}
.toptext{
	font-size: 2vw;
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 2vw;
	margin-top: 8vw;
}
.box{
	width: 5vw;
	height: 5vw;;
	background-color: #ffc70b;
	opacity: 0.8;
	float: right;
	margin-top:8vw;
}
.mid{
	background-color: #242a31;
	height: 30vw;
	width: 100%;
}
.rectangle{
	height: 2vw;
	width: 30vw;
	background-color: #b8b5b4;
	float: right;
}
.title{
	clear: both;
	margin-right: 7vw;
	margin-top: 2vw;
	text-align: right;
}
.title1{
	font-size: 3vw;
	color: white;
	font-weight: bold;
}
.title2{
	font-size: 6vw;
	color: #fbcc4c;
	font-family: Montserrat-B;
}
.title3{
	font-size: 1.5vw;
	color: white;
	font-weight: bold;
	width: 50vw;
	float: right;
	margin-top: 1vw;
}
.bot{
	clear: both;
	height: 50vw;
	background-image: url('../images/joshua-ness-225844.jpg');
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
	background-color: #242a31;
	background-blend-mode: lighten;
}
.bot>img{
	width: 100vw;
	position: absolute;
}
.blank{
	width: 35vw;
	height: 35vw;
	float: left;
	/*background-color: red;*/
}
.filter{
	height: 35vw;
	background-color: #15b4e3;
	opacity: 0.5;
	/*width: 65vw;*/
	width: 95%;
	position: absolute;
	right: 0;
}
.contact{
	background-color: #242a31;
	width: 35vw;
	height: 30vw;
	position: absolute;
	bottom: 0px;
	z-index: 1; 	
}
.gr{
	margin-bottom: 2vw;
	margin-left: 5vw;
	display: flex;
	align-items: center;
}
.gr:first-child{
	margin-top: 5vw;
}
.gr img{
	display: inline-block;
	width: 10%;
}
.gr .info{
	display: inline-block;
	color: white;
	font-size: 2vw;
	margin-left: 3vw;
}
.web{
	font-size: 2vw;
	font-family: Montserrat-B;
	color: #ddae27;
	margin-left: 5vw;
}
.logo{
	display: inline;
	width: 10vw;
}
.logo:last-child{
	margin-right: 7vw;
	margin-left: 35vw;
}
.logo img{
	width: 8vw;

}
.logo:last-child img{
	width: 15vw;
	margin: 0vw;

}
.logos{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	/*right: 0vw;*/
	/*vertical-align: middle;*/
	background-color: #386678;
	width: 100vw;
	height: 15vw;
}
.special{
	background-color: #ffc70b;
	width: 30vw;
	height: 100vw;
	opacity: 0.9;
	position: absolute;
	top: 0px;
	left: 5vw;
}
.hey{
	font-size: 6vw;
	color: white;
	font-family: Montserrat-B;
	text-align: center;
	margin-top: 4vw;
}
.designservice{
	font-size: 2vw;
	color: white;
	font-family: Montserrat-L;
	margin-top: 0px;
	text-align: center;
}
.text1{
	font-size: 2vw;
	color: white;
	margin-left: 2vw;
	margin-bottom: 5vw;
	font-size: 1.5vw;
}
.text2{
	width: 15vw;
	font-size: 2vw;
	color: white;
	margin-left: 2vw;
	margin-top: 2vw;
	font-family: Montserrat-B;
}
.rec1{
	width: 5vw;
	height: 2vw;
	background-color: white;
	margin-top: 24vw;
	margin-left: 2vw;
	margin-bottom: 5%;
}
.rec2{
	width: 5vw;
	height: 2vw;
	background-color: white;
	margin-top: 5vw;
	margin-left: 2vw;
}
.title4{
	text-align: right;
	font-size: 6vw;
	font-family: Montserrat-B;
	color: white;
}
.contentbot{
	position: absolute;
	right: 7vw;
	z-index: 2;
	margin-top: 2vw;
}
.contentbot p{
	font-size: 1vw;
	color: white;
	font-weight: bold;
	width: 50vw;
	float: right;
	text-align: justify;
	direction:rtl;
}
.contentbot p:last-child{
	color: #242a31;
	clear: right;
	margin-top: 2vw;
}